@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "serif";
  --font-retro: "Press Start 2P", system-ui;
  --font-roboto: "Roboto", sans-serif;
  --color-midnightblue: #1E1E2E;
  --color-deepSeaBlack: #0D0D0D; /*(main background, hero sections)*/
  --color-midGray: #1C1C1C; /*(secondary background, cards, navbars)*/
  --color-vividOrange: #FF6B00; /*(primary accent, buttons, links, highlights)*/
  --color-warmAmber: #FFB347; /*(secondary accent, hover effects, subtle glows)*/
  --color-softWhite: #F5F5F5; /*(main text, body content)*/
  --color-steelGray: #A0A0A0; /*(muted text, captions, secondary info)*/
  --color-myOrange: #FF914D;
}